

html, body {
    margin:0px;
    height:100%;
  }
.main {
    background:rgb(0, 0, 0);
    height:100%;
  }


.back2 {
    position: fixed;
    background-color: transparent;
    width: 40vw;
    height: 40vw;
    top: 5vw ;
    left: 27.5vw;

}


  .backlogo {
    content: url(weblogo1.png);
    background-color: transparent;
    position: fixed;
    width: 27.010643959552954vw;
    height: 27.010643959552954vw;
    top: 8.51516764236296vw;
    left: 34.16711016498137vw;
    
  }



.icon {
    background-color: transparent;
    margin-top: 0;
    margin-right: 30px;
    display: grid;
    justify-content: right;
    grid-template-columns: 3% 3% 3% 3%;
    grid-template-rows: 34px 34px 34px 34px;
    gap: 30px;
}

.steam {
    margin-top: 30px;
    background: transparent;

}

.discord {
    margin-top: 30px;
    background: transparent;
    
}

.tiktok {
    margin-top: 30px;
    background: transparent;
    
}

.youtube {
    margin-top: 30px;
    background: transparent;
    
}

.bottomleft {
    background-color: transparent;
    position: fixed;
    width: 12vw;
    height: 2vw;
    top: 1vw;
    left: 0.3vw;
}



.leftlogo {
    content: url(leftlogo.png);
    background-color: transparent;
    position: fixed;
    width: 2vw;
    height: 2vw;
    top: 1vw;
    left: 0.3vw;

}

.lefttext {
    position: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    color: white;
    left: 3vw;
    margin-top: -0.2vw;
}


.text {
    margin-top:-210px;
    margin-right: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 6%);
    grid-template-rows: repeat(4, 34px);
    gap: 30px;
    word-break: break-all;
}


.h1style {
    font-family: 'Inter', sans-serif;
    text-align: top;
    font-size: 1.2772751463544438vw; /* Use vw for font size */
    color: #ffffff;
}

.xwlevi {
    word-wrap: break-word;
    font-family: 'Holtwood One SC', serif;
    font-size: 6.812134113890367vw;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(#354AAB 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    position: fixed;
    top: 27.7vw;
    left: 30.6vw;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 0.532197977647685vw;
    }
  }


  @media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .bottomleft {
        background-color: transparent;
        position: fixed;
        width: 30vw;
        height: 7vw;
        top: 1vw;
        left: 33vw;
    }
    
    
    
    .leftlogo {
        content: url(leftlogo.png);
        background-color: transparent;
        position: fixed;
        width: 4vw;
        height: 4vw;
        top: 1vw;
        left: 0.3vw;
    
    }
    
    .lefttext {
        position: fixed;
        font-family: 'Inter', sans-serif;
        font-size: 4vw;
        color: white;
        left: 5vw;
        margin-top: -0.7vw;
    }
    




    .icon {
        background-color: transparent;
        margin-top: 0;
        margin-right: 60px;
        display: grid;
        justify-content: right;
        grid-template-columns: 3% ;
        grid-template-rows: 34px 34px 34px 34px;
        gap: 30px;
    }

    .text {
        margin-top:200px;
        margin-left: -61vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 15%);
        grid-template-rows: repeat(4, 34px);
        gap: 90px;
        word-break: break-all;
    }
    
    .h1style {
        font-family: 'Inter', sans-serif;
        text-align: top;
        font-size: 1.5em; /* Use vw for font size */
        color: #ffffff;
    }

    .back2 {
        position: fixed;
        background-color: transparent;
        width: 40vw;
        height: 40vw;
        top: 20vw ;
        left: 27.5vw;
    
    }
    
    
      .backlogo {
        content: url(weblogo1.png);
        background-color: transparent;
        position: fixed;
        width: 33.010643959552954vw;
        height: 33.010643959552954vw;
        top: 22vw;
        left: 30.16711016498137vw;
      }


      .xwlevi {
        word-wrap: break-word;
        font-family: 'Holtwood One SC', serif;
        font-size: 7.812134113890367vw;
        background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(#354AAB 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: wave 2000ms ease alternate infinite;
        position: fixed;
        top: 46vw;
        left: 27.9vw;
    }
    
    
  }

  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .icon {
        background-color: transparent;
        margin-top: 0;
        margin-right: 60px;
        display: grid;
        justify-content: right;
        grid-template-columns: 3% ;
        grid-template-rows: 34px 34px 34px 34px;
        gap: 30px;
    }

    .text {
        margin-top:-110px;
        margin-left: -61vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 15%);
        grid-template-rows: repeat(4, 34px);
        gap: 50px;
        word-break: break-all;
    }
    
    .h1style {
        font-family: 'Inter', sans-serif;
        text-align: top;
        font-size: 4vw; /* Use vw for font size */
        color: #ffffff;
    }

    .back2 {
        position: fixed;
        background-color: transparent;
        width: 60vw;
        height: 60vw;
        top: 20vw ;
        left: 22vw;
    
    }
    
    
      .backlogo {
        content: url(weblogo1.png);
        background-color: transparent;
        position: fixed;
        width: 50.010643959552954vw;
        height: 50.010643959552954vw;
        top: 22vw;
        left: 27vw;
      }


      .xwlevi {
        word-wrap: break-word;
        font-family: 'Holtwood One SC', serif;
        font-size: 10.812134113890367vw;
        background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(#354AAB 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: wave 2000ms ease alternate infinite;
        position: fixed;
        top: 58vw;
        left: 24vw;
    }
    
    
  }